domain.dtd

<!ELEMENT article (title, summary, category, publishTime, company, marketData, source, sentiment)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT publishTime (#PCDATA)>
<!ELEMENT company (name, ticker)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT ticker (#PCDATA)>
<!ELEMENT marketData (stockPrice, changePercent)>
<!ELEMENT stockPrice (#PCDATA)>
<!ELEMENT changePercent (#PCDATA)>
<!ELEMENT source (name, credibility)>
<!ELEMENT credibility (#PCDATA)>
<!ELEMENT sentiment (#PCDATA)>
